

    <div class="container rounded bg-white mt-5 mb-5">
        <ng-container [formGroup]="registerForm">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU"><span
                        class="font-weight-bold">Amelly</span><span class="text-black-50">amelly12@bbb.com</span><span>
                    </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 ">
                    
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" formControlName="name" class="form-control"
                                placeholder="first name" value=""></div>
                        <!-- <div class="col-md-6"><label class="labels">Surname</label><input type="text" formControlName="email" class="form-control"
                                value="" placeholder="surname"></div> -->
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" formControlName="phone"
                                class="form-control" placeholder="enter phone number" value=""></div>
                        <div class="col-md-12"><label class="labels">Address</label><input type="text" formControlName="adress" class="form-control"
                                placeholder="enter address" value=""></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" formControlName="email" class="form-control"
                                placeholder="enter email id" value=""></div>
                     
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control"
                                placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"  type="button" (click)="updateUser()"  >Save
                            Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="col-md-12"><label class="labels">Education</label><input type="text"
                        class="form-control" placeholder="education" value=""></div>
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div>
        </div>
    </ng-container>
    </div>




















































<!-- 
<main id="main" class="main">
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="upper p-4">
                        <div class="d-flex justify-content-between">
                            <div class="amount"> <span class="text-primary font-weight-bold">Sell directly to opendoor</span>
                                <h4>$200,000</h4> <small>Thursday,September 24th</small>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="add"> <span class="font-weight-bold d-block">8556 W Purdue Ave</span> <span class="font-weight-bold d-block">Peoria, AZ 98984</span> <small>3 bed2.5 both,2.343 ft'</small> </div> <img src="https://i.imgur.com/HKne8Oc.jpg" width="60" class="rounded-circle">
                            </div>
                        </div>
                        <hr>
                        <div class="delivery">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Estimated days to find a buyer</span> </div> <span class="font-weight-bold">0 Days</span>
                            </div>
                        </div>
                        <div class="transaction mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Average days to close transation</span> </div> <span class="font-weight-bold"> 0-30 days</span>
                            </div>
                        </div>
                        <div class="transaction mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Average number of showing</span> </div> <span class="font-weight-bold">0 Showings</span>
                            </div>
                        </div>
                        <hr>
                        <div class="transaction mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Offer/contract price</span> </div> <span class="font-weight-bold">$200,00</span>
                            </div>
                        </div>
                        <div class="transaction mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Opendoor service charge</span> </div> <span class="font-weight-bold">8% - $16000</span>
                            </div>
                        </div>
                        <div class="transaction mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"> <i class="fa fa-check-circle-o"></i> <span class="ml-2">Closing costs </span> </div> <span class="font-weight-bold">0.8% - $15,00</span>
                            </div>
                        </div>
                    </div>
                    <div class="lower bg-primary p-4 py-5 text-white d-flex justify-content-between">
                        <div class="d-flex flex-column"> <span>Cost including service charges</span> <small>This nuber may change depending on replair and your home conditions</small> </div>
                        <h3>$345,642</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> -->