<main id="main" class="main">

		<!-- <div class="pagetitle">
		  <h1>Data Tables</h1>
		  <nav>
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
			  <li class="breadcrumb-item">Tables</li>
			  <li class="breadcrumb-item active">Data</li>
			</ol>
		  </nav>
		</div> -->
	
		<section class="section">
		  <div class="row">
			<div class="col-lg-12">
	
			  <div class="card">
				<div class="card-body " >
				  <!-- <h5 class="card-title">Datatables</h5>
				  <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p> -->
	
				  <!-- Table with stripped rows -->
				  <table  class=" fixed_headers ">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">nom</th>
							<th scope="col">prenom</th>
							<th scope="col">City</th>
							<th scope="col">Longueur</th>
							<th scope="col">Poids</th>               
												  <!-- ¨ -->
							<th scope="col-">Dest_FirstName</th>
							<th scope="col">Dest_LastName</th>
							<th scope="col">Status</th>
							<th scope="col"></th>


						
						</tr>
					</thead>
					<tbody>
					  <tr *ngFor="let item of dataArray;index as i" >
						<th scope="row">{{i}}</th>
						<td>{{item.FirstName}}</td>
						<td>{{item.LastName}}</td>
						<td>{{item.City}}</td>
						<td>{{item.Longueur}}</td>
						<td>{{item.Poids}}</td> 
						<td>{{item.Dest_FirstName}}</td>     
						<td>{{item.Dest_LastName}}</td>  
						<td>{{item._id}}</td>  

						<td><span class="badge bg-success">Approved</span></td>
	                    <td><button type="submit" (click)="delete(item._id,i)" class="btn btn-danger" >Delete</button></td>  
		
					 
					  </tr>






					</tbody>
				  </table>
				  <!-- End Table with stripped rows -->
	
				</div>
			  </div>
	
			</div>
		  </div>
		</section>
	
	  </main><!-- End #main -->
	
