

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 border-right">
      <div class="p-3">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Description</label><input type="text" class="form-control"
              placeholder="décrire votre colis" value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">Nombre des pieces</label><input type="text" class="form-control" value=""
              placeholder="1/10/100" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Longueur</label><input type="text" class="form-control" placeholder="cm/m" value="" />
          </div>
          <div class="col-md-12">
            <label class="labels">Largeur</label><input type="text" class="form-control" placeholder="cm/m" value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">Hauteur</label><input type="text" class="form-control"
              placeholder="cm/m" value="" />
          </div>
          <br />
          <div class="col-md-6">
            <label class="labels">Poids</label><input type="text" class="form-control"
              placeholder="Kg" value="" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Nom du destinataire</label><input type="text" class="form-control"
              placeholder="nom du destinataire" value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">Prénom du destinataire</label><input type="text" class="form-control" value=""
              placeholder="prénom du destinataire" />
          </div>
        </div>
       
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-3">
        <div class="col-md-12">
          <label class="labels">numéro du destinataire</label><input type="text" class="form-control"
            placeholder="numéro du destinataire" value="" />
        </div>
        <div class="col-md-12">
          <label class="labels">Gouvernorat du destinataire</label>
          <select class=" form-control "  aria-label="labels">
            <option  selected>Tunis</option>
            <option value="1">gafsa</option>
            <option value="2">Gabes</option>
            <option value="3">Nabel</option>
          </select>
        </div>


        <div class="col-md-12">
          <label class="labels">Ville du destinataire</label><input type="text" class="form-control"
            placeholder="Ville du destinataire" value="" />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Adresse du destinataire</label><input type="text" class="form-control"
            placeholder="sened/gafsa" value="" />
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger profile-button" type="button">
            Envoyer un colis
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<h1>
  <span>There</span>
  <span>are</span>
  <span>no</span>
  <span>limits</span>
  <span>to</span>
  <span>what</span>
  <span>you</span>
  <span>can</span>
  <span>accomplish,</span>
  <span>except</span>
  <span>the</span>
  <span>limits</span>
  <span>you</span>
  <span>place</span>
  <span>on</span>
  <span>your</span>
  <span>own</span>
  <span>thinking.</span>
</h1> -->













<!-- text changes -->



<h1>focus blur</h1>


<!-- his css ander  -->

<!-- 
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css?family=Acme');

body {
  background: linear-gradient(#09203F, #537895);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: #FFF;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transform: rotate(-20deg) skew(25deg);
  animation: blur 5s ease-in-out infinite;
}

@keyframes blur {
  0%, 100% {
    transform: rotate(-20deg) skew(25deg) translate(0,0);
    text-shadow: -5px 5px 0 rgba(0,0,0,.2);
  }
  
  50% {
    transform: rotate(-20deg) skew(25deg) translate(50px, -50px);
    text-shadow: -50px 50px 0 rgba(0,0,0,.2);
    filter: blur(2px);
  }
} -->






























































