

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 border-right">
      <div class="p-3">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Description</label><input type="text" class="form-control"
              placeholder="décrire votre colis" value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">Nombre des pieces</label><input type="text" class="form-control" value=""
              placeholder="1/10/100" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Longueur</label><input type="text" class="form-control" placeholder="cm/m" value="" />
          </div>
          <div class="col-md-12">
            <label class="labels">Largeur</label><input type="text" class="form-control" placeholder="cm/m" value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">Hauteur</label><input type="text" class="form-control"
              placeholder="cm/m" value="" />
          </div>
          <br />
          <div class="col-md-6">
            <label class="labels">Poids</label><input type="text" class="form-control"
              placeholder="Kg" value="" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Nom du destinataire</label><input type="text" class="form-control"
              placeholder="nom du destinataire" value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">Prénom du destinataire</label><input type="text" class="form-control" value=""
              placeholder="prénom du destinataire" />
          </div>
        </div>
       
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-3">
        <div class="col-md-12">
          <label class="labels">numéro du destinataire</label><input type="text" class="form-control"
            placeholder="numéro du destinataire" value="" />
        </div>
        <div class="col-md-12">
          <label class="labels">Gouvernorat du destinataire</label>
          <select class=" form-control "  aria-label="labels">
            <option  selected>Tunis</option>
            <option value="1">gafsa</option>
            <option value="2">Gabes</option>
            <option value="3">Nabel</option>
          </select>
        </div>


        <div class="col-md-12">
          <label class="labels">Ville du destinataire</label><input type="text" class="form-control"
            placeholder="Ville du destinataire" value="" />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Adresse du destinataire</label><input type="text" class="form-control"
            placeholder="sened/gafsa" value="" />
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger profile-button" type="button">
            Envoyer un colis
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
