<div class="container">
  <div class="container_content">
    <div class="container_content_inner">
      <div class="title">
        <p>
          Saisissez votre adresse e-mail pour vous se connecter ou creer un
          compte.
        </p>
      </div>
      <div class="par">
        <img
          src="assets\front\imgs\eiffel-tower.svg"
          alt=""
          class="container_img"
        />
      </div>
    </div>
  </div>
  <div class="container_outer_img">
    <div class="btns">
      <button class="btn btn-outline btns_more" routerLink="/login">login</button>
    </div>
    <div class="">
      <button class="btn btn-outline-danger btns_more1" routerLink="/registre">signup </button>
      
    </div>
  
</div>
