body {
    background-color: #F50057;
}

.container {
    height: 100vh
}

.card {
    width: 100%;
    padding: 30px
}

form {
    margin-top: 24px;
    background: #040037;

}

.form {
    padding: 20px;

}

.form-control {
    height: 50px;
    background-color: #eee
}

.form-control:focus {
    color: rgb(255 255 255);
    background-color: #fff;
    border-color: #f50057;
    outline: 0;
    box-shadow: none;
    background-color: #eee;
}

.inputbox {
    margin-bottom: 15px
}

.register {
    width: 200px;
    height: 51px;
    color: rgb(255 255 255);
    background: linear-gradient(to right, #f7b733, #fc4a1a);

}

.register:hover {
    width: 200px;
    height: 51px;
    background-color: #f50057;

}




.form-check-input:checked {
    background-color: #761a5c;
    border-color: #761a5c;
}

.b {
    margin-top: 40px;
}
input {
    color: white !important;
    background-color: #040037 !important;
}

@media only screen and (max-width: 768px) {
    .b {
        margin-top: 337px;
    }
  }




/* 


.modal-body {
  display: flex;
  padding: 0;
  border-radius: 4rem;
  font-family: 'PT Sans', sans-serif;
}

.modal-content {
  border-radius: 4rem;
  width: 140%;
  -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
-moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
margin-top: 90px;
}
.modal-content h1, .modal-content h2, .modal-content h3 {
    text-align: center;
}
.modal-content h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.modal-content h2 {
    font-size: 1.1em;
}
.modal-content h3 {
  font-size: .8em;
  letter-spacing: 2px;
}


.column#main {
  flex: 75%;
  padding: 50px;
  margin-top: 30px;
  margin-left: 15px;
}

#secondary {
  background-color: #F9BC35;
  border-radius: 0 4rem 4rem 0;
  text-align: center;
}

#main .form-control {
  border-radius: 0;
  font-size: .9em;
}

.btn {
  text-transform: uppercase;
  border-radius: .15rem;
  width: 200px;
  padding: .150rem .75rem;
  margin: 30px auto;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
}

.btn-primary {
  border-color: rgba( 255, 255, 255, 0);
  background: #f1da36;
background: -moz-linear-gradient(left, #f1da36 0%, #fca86c 99%); 
background: -webkit-linear-gradient(left, #f1da36 0%,#fca86c 99%); 
background: linear-gradient(to right, #f1da36 0%,#fca86c 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 );

}

.btn-primary:hover {
  border-color: rgba( 255, 255, 255, 0);
}

#main .btn-primary {
  width: 100%;
}
#secondary .btn-primary {
  background: #f8f9fa4f;
  color: #000;
}
.modal-body label {
  margin-bottom: 0;
}

.sec-content {
  margin-top: 85%;
} */










/* button */